<ng-template #modal let-modal>
  <div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('consent-denied')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-1 m-1">
    <div class="row">
      <div class="col-2">
        <img src="{{logoUrl + countryDataProvider.logos.logo80}}">
      </div>
      <div class="col">Do you want to connect your <b>{{countryDataProvider.displayName}}</b> account(s) and share your
        accounts and
        transactions with OBA? Click 'Yes' to agree and be redirected to the bank login page.
      </div>
    </div>

  </div>
  <button type="button" class="btn btn-success" (click)="modal.close('consent-given')">Yes</button>
</ng-template>

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
