<h3 class="pl-1 pb-3">Welcome back</h3>

<div class="container">
  <div *ngIf="cdpName" class="row bg-white rounded p-3">
    <div class="col-12" *ngIf="!connected && stateId && !errorMessage">
      Connecting you to <b>{{cdpName}}</b> <img alt="logo" src="../assets/img/blinking-green-light.gif"
                                                style="width:25px">
    </div>
    <div *ngIf="connected" class="col-12">
      Connected!
    </div>
    <div *ngIf="redirectReason" class="col-12">
      <br/>
      <span *ngIf="redirectReason === 'authenticate_with_mfa'">The bank requires another login step (Multi Factor Authentication). Redirecting you..</span>
      <span *ngIf="redirectReason === 'authenticate_type_accounts'">The bank required another consent step (Accounts). Redirecting you again..</span>
      <span *ngIf="redirectReason === 'authenticate_type_transactions'">The bank required another consent step (Transactions). Redirecting you again..</span>
    </div>
    <div *ngIf="errorMessage" [innerHTML]="errorMessage"></div>
  </div>
</div>
