.main {
  margin-top: 50px;
  padding: 25px;
  background-color: rgba(11, 36, 75, 0.4);
  border-radius: 10px;
}

body {
  background: url("/assets/img/bg5.jpg");
}

h5 {
  margin: 0;
  padding: 0;
  color: #444444;
}

h3 {
  color: white;
}

.provider-list-item {
  cursor: pointer;
  border-left: 5px solid white;
}

button.close {
  padding: 0.2em 0.4em;
}

.modal-dialog .btn-success {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
