.main {
  margin-top: 50px;
  padding: 1.2em;
  background-color: rgba(11, 36, 75, 0.8);
  border-radius: 10px;
  margin-bottom: 50px;
}

body {
  background: url("/assets/img/bg5.jpg");
}

h5 {
  margin: 0;
  padding: 0;
  color: #444444;
}

h3 {
  color: white;
}

.provider-list-item {
  cursor: pointer;
  border-left: 5px solid white;
}

button.close {
  padding: 0.2em 0.4em;
}

.modal-dialog .btn-success {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-item:hover {
  background-color: #e8e8e8;
}

.connection-header {
  display: inline-block;
  width: 175px;
  margin-left: 15px;
}
