<div class="container">
  <div *ngIf="account" class="row bg-white rounded p-3">
    <div class="col-1">
      <img src="{{staticFilesUrl + account.countryDataProvider.logos.logo40}}">
    </div>
    <div class="col-8">
      {{account.accountData.name}} <br/>
      <span style="color:#939393">{{account.accountData.accountNumber.iban}}</span>
    </div>
    <div class="col-3 text-right">
      {{account.accountData.currency ? account.accountData.currency : 'EUR'}} {{accountHelper.selectBalance(account)|number:'1.2-2'}}
    </div>
  </div>
</div>

<div *ngIf="transactions">
  <ul class="list-group w-100">
    <li *ngFor="let transaction of transactions" class="list-group-item provider-list-item account-item"
        [routerLink]="['/accounts/' + account.id]" [queryParams]="{page: 1}">
      {{accountHelper.selectDisplayName(account)}} <span
      class="float-right">{{account.accountData.currency ? account.accountData.currency : 'EUR'}} {{accountHelper.selectBalance(account)|number:'1.2-2'}}</span>
      <div style="color:#939393">{{account.accountData.accountNumber.iban}}</div>
    </li>
  </ul>
</div>

